* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
body {
  display: block;
}
.top-bar {
  background-color: grey;
}
.top-bar-left {
  background-color: grey;
}
#bottom-bar {
  text-align: center;
  background-color: darkblue;
}
#bottom-bar-left {
  text-align: center;
  background-color: darkblue;
}
.menu-text {
  font-size: 24px;
}
.menu-text::before {
  content: "♦ ";
  font-size: 30px;
}
.menu-text::after {
  content: " | Travel Planner";
  color: greenyellow;
}
#footer-text {
  font-weight: lighter;
  font-size: 30px;
  color: white;
}
#footer-text::before {
  font-size: 30px;
  content: "© ";
}
#footer-text::after {
  content: " | 2021";
  color: greenyellow;
}
#ui-datepicker-div {
  font-size: 21px;
  background-color: lightblue;
}
.description {
  font-size: 15px;
  color: rgb(72, 72, 147);
}
#slides {
  background-color: blue;
  background-blend-mode: multiply;
}
.body-background {
  display: flexbox;

  min-height: 50vh;

  background: url("./assets/bg-04.jpg");
  background-color: lightgoldenrodyellow;
  background-blend-mode: darken;
  -webkit-background-size: cover;
  background-size: cover;
  padding-left: 175px;
}
.forecast-card {
  color: white;
  height: 50px;
  width: 250px;
  background-image: linear-gradient(
    rgba(230, 230, 230, 0.5),
    rgb(185, 185, 185, 0.4),
    rgb(37, 37, 37, 0.3)
  );

  margin-bottom: 40px;
  line-height: 40px;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  text-shadow: black 1px 1px;
  justify-content: space-between;
  display: flex;
}
.five-day-forecast {
  width: 270px;
  height: auto;
  padding: 5px;
  display: block;

  color: black;
}
.all-cards {
  padding: 0px;
  width: 1000px;

  display: flex;
  justify-content: space-between;
}
#temp-0,
#temp-1,
#temp-2,
#temp-3,
#temp-4 {
  margin-left: 5px;
}
#icon-0,
#icon-1,
#icon-2,
#icon-3,
#icon-4 {
}
.five-things-to-do {
  min-width: 300px;
}
.activity-card {
  margin: 10px;
  line-height: 20px;
  font-size: 15px;
  background-image: linear-gradient(
    rgba(230, 230, 230, 0.5),
    rgb(185, 185, 185, 0.4),
    rgb(37, 37, 37, 0.3)
  );
}
.itinerary-all {
  max-width: 300px;
  min-width: 300px;
}
.itinerary-card {
  background-image: linear-gradient(
    rgba(230, 230, 230, 0.5),
    rgb(185, 185, 185, 0.4),
    rgb(37, 37, 37, 0.3)
  );
  margin: 10px;
}

.draggable.dragging {
  opacity: 0.5;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.mb-3 {
  margin-bottom: 1rem;
}
